.event-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .upload-section, .event-details {
    width: 48%;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  .upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 272px;
  }
  
  .browse {
    color: red;
    cursor: pointer;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .cancel-btn {
    background: white;
    color: red;
    border: 2px solid red;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }
  
  .upload-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
  }
  